<div class="relative w-full h-screen mt-16">
  <video loading="lazy" class="absolute top-0 left-0 w-full h-full object-cover" #videoPlayer autoplay muted loop playsinline controls="false">
    <source [src]="mainVideo" type="video/mp4"/>
  </video>

  <div class="flex flex-col items-center justify-center h-full relative z-10 p-8 space-y-16">
    <!-- logo at the top -->
    <img *ngIf="!isMobile"
      [src]="bigLogoImg"
      class="bigLogoZoomOut"
      [ngStyle]="{'transform': 'scale(' + scaleValue + ')'}"
      alt="Big Logo" scrollUpRemove (visibilityChange)="onVisibilityChange($event)"/>

    <br><br>
    <!-- Get A Quote -->
    <div class="flex flex-col items-center gap-2">
      <h1 class="text-blue text-[2rem] font-bold get-quote" #bigLogo>{{ getTranslation('Get_A_Quote') }}</h1>
      <h2 class="text-mediumGray text-[2rem] font-normal text-center" #bigLogo>{{ getTranslation('Compare_Choose_Save') }}</h2>
    </div>

    <!-- SVG icons in a grid -->
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-11 !mt-5">
      <div class="flex flex-col items-center">
        <a [routerLink]="['/personal-insurance', { tag: 'car' }]">
          <img
            [src]="automobile"
            class="w-[82px] h-[78px] relative top-[0.9rem]"
            alt="car svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center mt-2">{{ getTranslation('Auto') }}</p>
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a [routerLink]="['/business-insurance', { tag: 'condominium' }]">
          <img
            [src]="condo"
            class="w-[82px] h-[78px]"
            alt="condo svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center mt-2">{{ getTranslation('Condo') }}</p>
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a [routerLink]="['/personal-insurance', { tag: 'house' }]">
          <img
            [src]="home"
            class="w-[90px] h-[83px] relative top-[4px]"
            alt="home svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center relative top-[2px]">{{ getTranslation('Home') }}</p>
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a [routerLink]="['/business-insurance', { tag: 'property' }]">
          <img
            [src]="tenant"
            class="w-[82px] h-[78px] relative -top-[4px]"
            alt="home svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center mt-2 relative -top-[1px]">{{ getTranslation('Tenant') }}</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 flex justify-center text-center">
    <button class="btn-my-renewal uppercase" (click)="myRenewal()">{{ getTranslation('My_Renewal') }}</button>
</div>

<div class="mt-16">
  <h1 class="flex justify-center text-center text-3xl font-medium px-2">
    {{ getTranslation('What_Our_Clients_Think_About_Us') }}
  </h1>

  <div class="stars-rating mt-6">
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStarHalfStroke"></fa-icon>
  </div>

  <h3 class="text-center text-2xl mt-6 px-2">
    <strong class="text-orange">{{ getTranslation('Our_Mission') }}</strong>
    <span class="text-mediumGray">{{ getTranslation('Your_Satisfaction') }}</span>
  </h3>
  <div class="flex justify-center w-full overflow-hidden mt-6" *ngIf="currentLanguage === 'en'">
    <swiper-container class="w-11/12 max-w-[95%] xl:max-w-[80%] mx-auto"
      [spaceBetween]="10" [breakpoints]="cardBreakpoints"
      autoplay-delay="3500" autoplay-disable-on-interaction="false" loop="true" autoHeight="true">
        <swiper-slide *ngFor="let card of cards" class="swiper-slide-auto">
          <div class="card px-4 h-auto"> <!-- Ensure h-auto allows dynamic height -->
            <div class="card-header">
              <h5 class="font-medium">{{ card.name }}</h5>
              <p class="username">{{ card.username }}</p>
            </div>
            <div class="card-body">
              <p>{{ card.review }}</p>
            </div>
          </div>
        </swiper-slide>
    </swiper-container>
  </div>


  <div class="flex justify-center w-full overflow-hidden mt-6" *ngIf="currentLanguage === 'fr'">
    <swiper-container class="w-11/12 h-full overflow-hidden"
        [spaceBetween]="10" [breakpoints]="cardBreakpoints"
        autoplay-delay="3500" autoplay-disable-on-interaction="false">
          <swiper-slide *ngFor="let card of cardsFr">
            <div class="card px-4">
                <div class="card-header">
                  <h5 class="font-medium">{{ card.name }}</h5>
                  <p class="username">{{ card.username }}</p>
                </div>
                <div class="card-body">
                  <p>{{ card.review }}</p>
                </div>
              </div>
            </swiper-slide>
    </swiper-container>
  </div>
</div>

<div class="mt-16">
  <h1 class="text-center text-4xl font-medium leading-snug">
    <span class="text-orange">{{ getTranslation('Our_Services') }}</span>
  </h1>

  <h5 class="flex justify-center text-center text-2xl font-medium mb-6 letter-sp">
    {{ getTranslation('Discover_Our_Coverage') }}
  </h5>

  <div class="pt-3 pb-12">
    <div class="flex flex-row justify-center gap-16 mt-10 mx-auto">
      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/personal-insurance', { tag: 'car' }]">
            <img
              [src]="automobile"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="home svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center">
              {{ getTranslation('Automobile') }}
            </p>
          </a>
        </div>

        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/personal-insurance', { tag: 'house' }]">
            <img
              [src]="home"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="home svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center">
              {{ getTranslation('Home') }}
            </p>
          </a>
        </div>

        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/business-insurance', { tag: 'general' }]" >
            <img
              [src]="commercialAuto"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="home svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center">
              {{ getTranslation('Commercial_Auto') }}
            </p>
          </a>
        </div>

        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/life-insurance', { tag: 'life' }]">
            <img
              [src]="lifeInsurrance"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="home svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center">
              {{ getTranslation('Life_Insurance') }}
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center gap-16 mx-auto">
      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/business-insurance', { tag: 'condominium' }]">
            <img
              [src]="condo"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="Condo svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center relative">
              {{ getTranslation('Condo') }}
            </p>
          </a>
        </div>

        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/business-insurance', { tag: 'property' }]">
            <img
              [src]="commerce"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="Commerce svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center relative">
              {{ getTranslation('Commerce') }}
            </p>
          </a>
        </div>

        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/personal-insurance', { tag: 'car' }]">
            <img
              [src]="moto"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="Commerce svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center relative">
              {{ getTranslation('Moto') }}
            </p>
          </a>
        </div>

        <div class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-lg shadow-2xl">
          <a [routerLink]="['/personal-insurance', { tag: 'faq' }]">
            <img
              [src]="condo"
              class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
              alt="Commerce svg"
            />
            <p class="uppercase text-[0.85rem] font-bold text-center relative">
              {{ getTranslation('Other_Insurance') }}
            </p>
          </a>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="flex flex-col md:flex-row lg:flex-row justify-center mt-6 mb-6 max-w-[70%] mx-auto space-y-5 md:space-y-0 md:space-x-5">
    <video class="w-full md:w-1/2 lg:w-1/3" #constructionVideoPlayer autoplay loop muted playsinline controls="false">
      <source [src]="claimVideo" type="video/mp4">
      Your browser does not support the video tag.
   </video>

  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-medium mb-5 submit-claim-mr">{{ getTranslation('Submit_A_Claim') }}</h1>
    <button class="click-here bg-blue-500 text-white font-bold
          py-2 px-4 rounded-lg shadow-lg bg-orange transition duration-300 ease-in-out transform hover:-translate-y-1"  [routerLink]="['/claim']">
            {{ getTranslation('Click_here') }}
  </button>
      <p class="flex flex-col items-baseline submit-claim" style="margin-top: 20px;">
      {{ getTranslation('We_Are_Available') }}
      <span>{{ getTranslation('Or_By_Phone') }}</span>
      <span>{{ getTranslation('Or_By_Mail') }}</span>
    </p>
</div>
</div>

<div class="claims-faq-section" *ngIf="currentLanguage === 'en'">
  <h2 class="section-title">Questions About Automobile Insurance in Quebec?</h2>
  <div class="faq-box">
    <div class="faq-item" *ngFor="let faq of faqsAutomobileEn">
      <div class="faq-question">
        <button (click)="toggleAnswer(faq)">
          <i class="fas" [ngClass]="faq.open ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          {{ faq.question }}
        </button>
      </div>
      <div class="faq-answer" [ngStyle]="{ 'display': faq.open ? 'block' : 'none' }">
        <p>{{ faq.answer }}</p>
      </div>
    </div>
  </div>
</div>

<div class="claims-faq-section" *ngIf="currentLanguage === 'fr'">
  <h2 class="section-title">Des questions sur l’assurance automobile au Québec?</h2>
  <div class="faq-box">
    <div class="faq-item" *ngFor="let faq of faqsAutomobileFr">
      <div class="faq-question">
        <button (click)="toggleAnswer(faq)">
          <i class="fas" [ngClass]="faq.open ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          {{ faq.question }}
        </button>
      </div>
      <div class="faq-answer" [ngStyle]="{ 'display': faq.open ? 'block' : 'none' }">
        <p>{{ faq.answer }}</p>
      </div>
    </div>
  </div>
</div>

