<div class="relative w-full h-screen mt-16">
  <video class="absolute top-0 left-0 w-full h-full object-cover" #videoPlayer autoplay muted loop>
    <source src="assets/video.mp4" type="video/mp4" />
  </video>

  <div class="flex flex-col items-center justify-center h-full relative z-10 p-8 space-y-16">
    <!-- logo at the top -->
    <img
      src="assets/ImpactInsurance_Logo4-300x110.png"
      alt="Overlay Image"
      class="w-[350px] h-[125px] mt-4"
    />

    <!-- Get A Quote -->
    <div class="flex flex-col items-center gap-5">
      <h1 class="text-blue text-4xl font-bold">Get A Quote</h1>
      <h2 class="text-mediumGray text-4xl font-normal text-center">Compare, choose, <br> save</h2>
    </div>

    <!-- SVG icons in a grid -->
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-11 mt-8">
      <div class="flex flex-col items-center">
        <a href="https://impactco.ca/quote">
          <img
            [src]="automobile"
            class="w-[82px] h-[78px] relative top-[0.9rem]"
            alt="car svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center mt-2">auto</p>
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a href="https://impactco.ca/quote">
          <img
            [src]="condo"
            class="w-[82px] h-[78px]"
            alt="condo svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center mt-2">condo</p>
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a href="https://impactco.ca/quote">
          <img
            [src]="home"
            class="w-[90px] h-[83px] relative top-[4px]"
            alt="home svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center relative top-[2px]">home</p>
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a href="https://impactco.ca/quote">
          <img
            [src]="tenant"
            class="w-[82px] h-[78px] relative -top-[4px]"
            alt="home svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center mt-2 relative -top-[1px]">tenant</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mt-16">
  <h1 class="flex justify-center text-center text-3xl font-medium px-2">
    What our clients think about us!
  </h1>

  <div class="stars-rating mt-6">
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStar"></fa-icon>
    <fa-icon class="text-blue text-5xl" [icon]="faStarHalfStroke"></fa-icon>
  </div>

  <h3 class="text-center text-2xl mt-6 px-2">
    <strong class="text-orange">Our Mission: </strong>
    <span class="text-mediumGray"
      >Your satisfaction, with the best protection at the best price.</span>
  </h3>

  <div class="flex justify-center w-full overflow-hidden mt-6">
    <swiper-container class="mySwiper" slides-per-view="auto" loop="true" [spaceBetween]="0"
      autoplay-delay="3500" autoplay-disable-on-interaction="false" space-between="20"
      class="w-full max-w-[85%] h-full overflow-hidden"
    >
      <swiper-slide *ngFor="let card of cards" class="w-full sm:w-1/2 md:w-1/2 md-sm:w-1/2 md-md:w-1/2 lg:w-1/3">
      <div class="card px-4">
          <div class="card-header">
            <h5 class="font-medium">{{ card.name }}</h5>
            <p class="username">{{ card.username }}</p>
          </div>
          <div class="card-body">
            <p>{{ card.review }}</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>


  <div class="mt-16">
  <h1 class="text-center text-3xl font-medium leading-snug">
    <span class="text-orange">We're Here</span> To Guide You <br />
    Every Step Of The Way
  </h1>

  <h5 class="flex justify-center text-center text-2xl font-normal mt-5 mb-6">
    Discover our coverage
  </h5>

  <div class="bg-lightBlue pt-3 pb-12">

    <div class="flex flex-row justify-center gap-16 mt-10 mx-auto">
      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
        <div
            class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
          >
            <a href="https://impactco.ca/quote">
              <img
                [src]="automobile"
                class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
                alt="home svg"
              />
              <p class="uppercase text-[0.85rem] font-bold text-center">
                Automobile
              </p>
            </a>
          </div>

          <div
            class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
          >
            <a href="https://impactco.ca/quote">
              <img
                [src]="home"
                class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
                alt="home svg"
              />
              <p class="uppercase text-[0.85rem] font-bold text-center">Home</p>
            </a>
          </div>

          <div
            class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
          >
            <a href="https://impactco.ca/quote">
              <img
                [src]="commercialAuto"
                class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
                alt="home svg"
              />
              <p class="uppercase text-[0.85rem] font-bold text-center">
                Commercial Auto
              </p>
            </a>
          </div>

          <div
            class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
          >
            <a href="https://impactco.ca/quote">
              <img
                [src]="lifeInsurrance"
                class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
                alt="home svg"
              />
              <p class="uppercase text-[0.85rem] font-bold text-center">
                Life Insurrance
              </p>
            </a>
          </div>
          </div>
    </div>


    <div class="flex flex-row justify-center gap-16 mx-auto">
      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
      <div
        class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
      >
        <a href="https://impactco.ca/quote">
          <img
            [src]="condo"
            class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
            alt="Condo svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center relative">
            Condo
          </p>
        </a>
      </div>

      <div
        class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
      >
        <a href="https://impactco.ca/quote">
          <img
            [src]="commerce"
            class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
            alt="Commerce svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center relative">
            Commerce
          </p>
        </a>
      </div>

      <div
        class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
      >
        <a href="https://impactco.ca/quote">
          <img
            [src]="moto"
            class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
            alt="Commerce svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center relative">
            Moto
          </p>
        </a>
      </div>

      <div
        class="bg-white m-2 p-2 lg:w-60 md:w-60 sm:w-40 h-28 flex justify-center rounded-2xl shadow-2xl"
      >
        <a href="https://impactco.ca/quote">
          <img
            [src]="condo"
            class="w-[82px] h-[78px] relative -top-[6px] mx-auto"
            alt="Commerce svg"
          />
          <p class="uppercase text-[0.85rem] font-bold text-center relative">
            Other Insurrance
          </p>
        </a>
      </div>
    </div>
  </div>

  </div>
</div>


<div class="flex flex-col md:flex-row lg:flex-row justify-center mt-6 mb-6 max-w-[70%] mx-auto space-y-5 md:space-y-0 md:space-x-5">
  <video class="w-full md:w-1/2 lg:w-1/3" #constructionVideoPlayer autoplay loop muted>
    <source src="assets/Construction_Insurance.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-medium mb-5">Submit a claim?</h1>
    <p class="flex flex-col items-baseline">
      We are available
      <span> by phone at 1 (833) 361-1133 </span>
      <span> or by mail at info@impactco.ca </span>
    </p>
  </div>
</div>

<app-emergency-contact-information></app-emergency-contact-information>

