<div class="privacy-policy-container !mt-10" *ngIf="currentLanguage === 'en'">
  <h1 class="section-title">1. Introduction</h1>
  <p class="content-text">
    Welcome to Impact Assurances Inc. ("Impact Assurances," "we," "our," or "us"). We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website www.impactco.ca (the "Site").
  </p>

  <h2 class="section-title">2. Information We Collect</h2>
  <p class="content-text">
    When you interact with us, we may collect personal information, including but not limited to:
  </p>
  <ul class="content-list">
    <li>Contact information (name, address, email address, phone number)</li>
    <li>Financial information (credit card details, bank account information)</li>
    <li>Insurance-related information (policy details, claims history)</li>
    <li>Other relevant information related to our insurance brokerage services</li>
  </ul>

  <h2 class="section-title">3. How We Use Your Information</h2>
  <p class="content-text">
    We use the information we collect for various purposes, including:
  </p>
  <ul class="content-list">
    <li>Providing and managing our insurance brokerage services</li>
    <li>Processing transactions and claims</li>
    <li>Communicating with you about your insurance policies and inquiries</li>
    <li>Improving our Site and services</li>
    <li>Complying with legal obligations and regulatory requirements</li>
  </ul>

  <h2 class="section-title">4. How We Share Your Information</h2>
  <p class="content-text">
    We may share your information in the following circumstances:
  </p>
  <ul class="content-list">
    <li>Service Providers: With third-party service providers who assist us in operating our business, such as payment processors and IT service providers. These third parties are obligated to maintain the confidentiality and security of your information.</li>
    <li>Legal Requirements: When required by law, regulation, or legal process, or to protect our rights, privacy, safety, or property, or that of others.</li>
    <li>Business Transfers: In connection with a merger, acquisition, or sale of all or a portion of our business, where your information may be transferred as part of that transaction.</li>
  </ul>

  <h2 class="section-title">5. Data Security</h2>
  <p class="content-text">
    We implement reasonable technical and organizational measures to protect your personal information against unauthorized access, alteration, disclosure, or destruction. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.
  </p>

  <h2 class="section-title">6. Your Rights</h2>
  <p class="content-text">
    Under Quebec's Act respecting the protection of personal information in the private sector, you have certain rights regarding your personal information, including:
  </p>
  <ul class="content-list">
    <li>Access: The right to request access to your personal information held by us.</li>
    <li>Correction: The right to request corrections to any inaccurate or incomplete personal information.</li>
    <li>Deletion: The right to request deletion of your personal information, subject to certain conditions.</li>
  </ul>

  <h2 class="section-title">7. Cookies and Tracking Technologies</h2>
  <p class="content-text">
    Our Site uses cookies and similar tracking technologies to enhance your user experience and analyze site usage. You can manage your cookie preferences through your browser settings. However, disabling cookies may affect the functionality of the Site.
  </p>

  <h2 class="section-title">8. Changes to This Privacy Policy</h2>
  <p class="content-text">
    We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the new Privacy Policy on our Site with an updated effective date.
  </p>

  <h2 class="section-title">9. Contact Us</h2>
  <p class="content-text">
    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at info@impactco.ca
  </p>
</div>

<div class="privacy-policy-container !mt-10" *ngIf="currentLanguage === 'fr'">
  <h1 class="section-title">1. Introduction</h1>
  <p class="content-text">
    Bienvenue chez Impact Assurances Inc. ("Impact Assurances", "nous", "notre" ou "nos"). Nous nous engageons à protéger votre vie privée et à garantir que vos informations personnelles sont traitées de manière sûre et responsable. Cette Politique de Confidentialité décrit comment nous collectons, utilisons, divulguons et protégeons vos informations lorsque vous visitez notre site web www.impactco.ca (le "Site").
  </p>

  <h2 class="section-title">2. Informations que Nous Collectons</h2>
  <p class="content-text">
    Lorsque vous interagissez avec nous, nous pouvons collecter des informations personnelles, y compris mais sans s'y limiter :
  </p>
  <ul class="content-list">
    <li>Informations de contact (nom, adresse, adresse e-mail, numéro de téléphone)</li>
    <li>Informations financières (détails de carte de crédit, informations bancaires)</li>
    <li>Informations liées aux assurances (détails de la police, historique des réclamations)</li>
    <li>Autres informations pertinentes relatives à nos services de courtage en assurances</li>
  </ul>

  <h2 class="section-title">3. Comment Nous Utilisons Vos Informations</h2>
  <p class="content-text">
    Nous utilisons les informations que nous collectons pour divers objectifs, y compris :
  </p>
  <ul class="content-list">
    <li>Fournir et gérer nos services de courtage en assurances</li>
    <li>Traiter les transactions et les réclamations</li>
    <li>Communiquer avec vous au sujet de vos polices d'assurance et de vos demandes</li>
    <li>Améliorer notre Site et nos services</li>
    <li>Respecter nos obligations légales et réglementaires</li>
  </ul>

  <h2 class="section-title">4. Comment Nous Partageons Vos Informations</h2>
  <p class="content-text">
    Nous pouvons partager vos informations dans les circonstances suivantes :
  </p>
  <ul class="content-list">
    <li>Fournisseurs de Services : Avec des prestataires de services tiers qui nous aident à faire fonctionner notre entreprise, tels que les processeurs de paiement et les fournisseurs de services informatiques. Ces tiers sont tenus de maintenir la confidentialité et la sécurité de vos informations.</li>
    <li>Exigences Légales : Lorsque la loi, la réglementation ou les procédures judiciaires l'exigent, ou pour protéger nos droits, notre vie privée, notre sécurité, ou celle d'autrui.</li>
    <li>Transferts d'Entreprise : En relation avec une fusion, une acquisition ou la vente de tout ou d'une partie de notre entreprise, où vos informations peuvent être transférées dans le cadre de cette transaction.</li>
  </ul>

  <h2 class="section-title">5. Sécurité des Données</h2>
  <p class="content-text">
    Nous mettons en œuvre des mesures techniques et organisationnelles raisonnables pour protéger vos informations personnelles contre l'accès, la modification, la divulgation ou la destruction non autorisés. Cependant, veuillez noter qu'aucun moyen de transmission sur Internet ou de stockage électronique n'est totalement sécurisé.
  </p>

  <h2 class="section-title">6. Vos Droits</h2>
  <p class="content-text">
    En vertu de la Loi sur la protection des renseignements personnels dans le secteur privé du Québec, vous disposez de certains droits concernant vos informations personnelles, notamment :
  </p>
  <ul class="content-list">
    <li>Accès : Le droit de demander l'accès à vos informations personnelles que nous détenons.</li>
    <li>Correction : Le droit de demander des corrections à toute information personnelle inexacte ou incomplète.</li>
    <li>Suppression : Le droit de demander la suppression de vos informations personnelles, sous certaines conditions.</li>
  </ul>

  <h2 class="section-title">7. Cookies et Technologies de Suivi</h2>
  <p class="content-text">
    Notre Site utilise des cookies et des technologies de suivi similaires pour améliorer votre expérience utilisateur et analyser l'utilisation du site. Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur. Cependant, la désactivation des cookies peut affecter la fonctionnalité du Site.
  </p>

  <h2 class="section-title">8. Modifications de Cette Politique de Confidentialité</h2>
  <p class="content-text">
    Nous pouvons mettre à jour cette Politique de Confidentialité de temps à autre pour refléter les changements dans nos pratiques ou les exigences légales. Nous vous informerons de tout changement important en publiant la nouvelle Politique de Confidentialité sur notre Site avec une date de prise d'effet mise à jour.
  </p>

  <h2 class="section-title">9. Contactez-Nous</h2>
  <p class="content-text">
    Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité ou nos pratiques de gestion des données, veuillez nous contacter à info@impactco.ca
  </p>
</div>
