<footer class="bg-blue text-lightBlue py-8 mt-20">
    <div class="container mx-auto flex flex-col justify-around md:flex-row px-4 space-y-6 md:space-y-0 md:space-x-12">
      <div class="flex flex-col items-start">
        <img src="assets/footer-logo.png" alt="Impact Assurances Logo" class="h-16 mb-4">
        <p class="text-lightBlue text-sm mt-5">&copy; 2024 ImpactAssurances. All rights reserved.</p>
      </div>
      <div class="flex flex-col items-start">
        <p class="text-white font-semibold text-lg mb-4"> <span class="text-orange"> Get </span> in touch</p>
        <div class="text-lightBlue text-sm space-y-2">
          <p><i class="fas fa-map-marker-alt"></i> 5375 rue Paré, unité 230, Mtl, Qc H4P-1P7</p>
          <p><i class="fas fa-phone"></i> 1 (833) 361-1133</p>
          <p><i class="fas fa-envelope"></i> <a href="mailto:info@impactco.ca" class="underline">info@impactco.ca</a></p>
        </div>
      </div>
      <div class="flex flex-col items-start">
        <p class="text-white font-semibold text-lg mb-4"> <span class="text-orange"> Claim ? </span> Call us.</p>
        <div class="text-lightBlue text-sm space-y-2">
          <p><i class="fas fa-phone"></i> Toll free: 1 (833) 361-1133</p>
          <p><i class="fas fa-phone"></i> Montreal: 1 (514) 461-1133</p>
          <div class="flex space-x-4 mt-4">
            <a href="#"><i class="fab fa-twitter text-white text-xl"></i></a>
            <a href="#"><i class="fab fa-facebook-f text-white text-xl"></i></a>
            <a href="#"><i class="fab fa-linkedin-in text-white text-xl"></i></a>
            <a href="#"><i class="fab fa-instagram text-white text-xl"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>  

  