a:hover {
    cursor: pointer;
    background-color: #0883a6;
    color: white;
}

.selected {
    background-color: #0883a6;
    color: white;
}

.rotate-180 {
    transform: rotate(180deg);
}

.custom-textarea {
  width: 100%;
  height: 80vh
}

.stylish-button {
  margin-top: 20px; /* Adds margin at the top */
  padding: 10px 20px; /* Adds some padding for a better look */
  font-size: 16px; /* Adjusts the font size */
  font-weight: bold; /* Makes the text bold */
  color: #fff; /* White text color */
  background-color: #007bff; /* Blue background color */
  border: none; /* Removes the default border */
  border-radius: 5px; /* Adds rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.stylish-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.stylish-button:active {
  background-color: #004494; /* Even darker blue when active */
}
