<app-loading *ngIf="isLoading"></app-loading>
<header class="impact-header mt-16 desktop-menu-container">
  <img src="assets/ImpactInsurance_Logo4-300x110.png" alt="Impact Logo" class="impact-logo" />
  <div class="impact-hero">
    <img src="assets/top-image.png" alt="Top Image" class="impact-top-image" />
  </div>
</header>

<div class="flex flex-col md:flex-row md:space-x-4 mx-3">
  <!--left desktop-->
 <div
  class="desktop-menu-container w-full mt-4 md:w-1/4 bg-white p-4 shadow-custom mb-4 md:mb-0 rounded-lg sticky-sidebar overflow-y-auto"
  style="max-height: calc(100vh - 50px);">

  <div class="flex flex-col space-y-4">
    <a
      (click)="showContent('car')"
      [class.selected]="selected === 'car'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{
        getTranslation("Auto_Moto_RV_Insurance")
      }}</span>
    </a>
    <hr class="border-gray-300" />

    <a
      (click)="showContent('house')"
      [class.selected]="selected === 'house'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{ getTranslation("Home_Insurance") }}</span>
    </a>
    <hr class="border-gray-300" />

    <a
      (click)="showContent('replacement')"
      [class.selected]="selected === 'replacement'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{ getTranslation("Replacement_Value") }}</span>
    </a>
    <hr class="border-gray-300" />

    <a
      (click)="showContent('hard')"
      [class.selected]="selected === 'hard'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{
        getTranslation("Hard_To_Find_Insurance")
      }}</span>
    </a>
    <hr class="border-gray-300" />

    <a
      (click)="showContent('high')"
      [class.selected]="selected === 'high'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{ getTranslation("High_Value_Insurance") }}</span>
    </a>
    <hr class="border-gray-300" />

    <a
      (click)="showContent('travel')"
      [class.selected]="selected === 'travel'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{ getTranslation("Travel_Insurance") }}</span>
    </a>
    <hr class="border-gray-300" />

    <a
      (click)="showContent('faq')"
      [class.selected]="selected === 'faq'"
      class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
    >
      <span class="text-sm md:text-base">{{ getTranslation("FAQ") }}</span>
    </a>
  </div>
 </div>

  <!--left mobile-->
  <div class="mobile-menu-container">
    <button class="menu-toggle" (click)="toggleMenu()">
          {{ getTranslation(selectedLabel) }}
    </button>
    <ul class="mobile-menu" *ngIf="isMenuOpen">
      <li>
        <a
          (click)="showContentMobile('car', 'Auto_Moto_RV_Insurance')"
          [class.selected]="selected === 'car'">
          <span class="text-sm md:text-base">
            {{ getTranslation("Auto_Moto_RV_Insurance") }}
          </span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('house', 'Home_Insurance')"
          [class.selected]="selected === 'house'">
          <span class="text-sm md:text-base">
            {{ getTranslation("Home_Insurance") }}
          </span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('replacement', 'Replacement_Value')"
          [class.selected]="selected === 'replacement'">
          <span class="text-sm md:text-base">
            {{ getTranslation("Replacement_Value") }}
          </span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('hard', 'Hard_To_Find_Insurance')"
          [class.selected]="selected === 'hard'">
          <span class="text-sm md:text-base">
            {{ getTranslation("Hard_To_Find_Insurance") }}
          </span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('high', 'High_Value_Insurance')"
          [class.selected]="selected === 'high'">
          <span class="text-sm md:text-base">
            {{ getTranslation("High_Value_Insurance") }}
          </span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('travel', 'Travel_Insurance')"
          [class.selected]="selected === 'travel'">
          <span class="text-sm md:text-base">
            {{ getTranslation("Travel_Insurance") }}
          </span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('faq', 'FAQ')"
          [class.selected]="selected === 'faq'">
          <span class="text-sm md:text-base">
            {{ getTranslation("FAQ") }}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Right content -->
  <div class="w-full mt-4 md:w-3/4 bg-white p-6 md:p-8 shadow-custom mt-mobile">
    <ng-container *ngFor="let iData of individualData; let i = index">
      <div *ngIf="currentContent === iData.subCategory" class="content">
        <ng-container *ngIf="!isEditing">
          <div [innerHTML]="iData.text"></div>
        </ng-container>

        <ng-container *ngIf="isEditing && iData && iData.originalText">
          <editor
            style="margin-top: 50px"
            [(ngModel)]="iData.originalText"
            apiKey="d0x7em9ik6bwtkgldgsn3n4h39p36rw346yxyr6jo9lwwk9o"
            [init]="editorConfig"
          ></editor>
        </ng-container>

        <div class="flex space-x-4 mt-4 justify-end">
          <button
            *ngIf="isLoggedIn() && isEditing"
            (click)="saveContent(iData.subCategory, i)"
            class="bg-green-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-green-600 transition duration-200 shadow-lg"
          >
            Save
          </button>
          <button
            *ngIf="isLoggedIn()"
            (click)="toggleEdit()"
            class="bg-red-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-red-600 transition duration-200 shadow-lg"
          >
            {{ cancelEdit }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
