<div class="flex flex-col md:flex-row md:space-x-4 mt-16 mx-3">
    <!-- Sidebar -->
    <div class="w-full mt-4 md:w-1/4 bg-white p-4 shadow-lg mb-4 md:mb-0">
      <div class="flex flex-col space-y-4">
        <a (click)="showContent('CAR')" [class.selected]="selected === 'CAR'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('Auto_Moto_RV_Insurance') }}</span>
        </a>
        <a (click)="showContent('HOUSE')" [class.selected]="selected === 'HOUSE'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('Home_Insurance') }}</span>
        </a>
        <a (click)="showContent('RECREATIONAL')" [class.selected]="selected === 'RECREATIONAL'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('Replacement_Value') }}</span>
        </a>
        <a (click)="showContent('HARD')" [class.selected]="selected === 'HARD'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('Hard_To_Find_Insurance') }}</span>
       </a>
        <a (click)="showContent('HIGH')" [class.selected]="selected === 'HIGH'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('High_Value_Insurance') }}</span>
        </a>
        <a (click)="showContent('TRAVEL')" [class.selected]="selected === 'TRAVEL'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('Travel_Insurance') }}</span>
        </a>
        <a (click)="showContent('FAQ')" [class.selected]="selected === 'FAQ'"
          class="flex items-center space-x-2 hover:bg-blue-100 p-2 rounded">
          <span class="text-sm md:text-base">{{ getTranslation('FAQ') }}</span>
        </a>
      </div>
    </div>

    <!-- Main Content -->
    <div class="w-full mt-4 md:w-3/4 bg-white p-6 md:p-8 shadow-lg">
      <div *ngIf="currentContent === 'CAR'" class="content">

      </div>

      <div *ngIf="currentContent === 'HOUSE'" class="content">
          <ng-container *ngIf="content.header as head">
            <h1 class="text-xl md:text-2xl font-bold mb-4" style="color: #0883a6;">
              <span *ngIf="!isEditing">{{ head.title }}</span>
              <input *ngIf="isEditing" [(ngModel)]="head.title" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
            </h1>

            <p class="mb-4 text-md md:text-base">
              <span *ngIf="!isEditing">{{ head.description }}</span>
              <textarea *ngIf="isEditing" [(ngModel)]="head.description" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none h-32"></textarea>
            </p>
          </ng-container>

          <ng-container *ngFor="let test of content.middleObj">
              <h1 class="text-lg md:text-1xl font-bold mb-4" style="color: #0883a6;">
                <span *ngIf="!isEditing">{{ test.title }}</span>
                <input *ngIf="isEditing" [(ngModel)]="test.title" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
              </h1>
              <p class="mb-4 text-sm md:text-base">
                <span *ngIf="!isEditing">{{ test.description }}</span>
                <textarea *ngIf="isEditing" [(ngModel)]="test.description" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none h-32"></textarea>
              </p>
          </ng-container>

          <div class="flex space-x-4 mt-4 justify-end">
            <button
              *ngIf="isLoggedIn() && isEditing"
              (click)="addNewObject()"
              class="bg-white text-black font-semibold py-2 px-6 rounded-lg hover:bg-blue-600 transition duration-200 shadow-lg"
            >
              Add New Section
            </button>

            <button
              *ngIf="isLoggedIn() && isEditing"
              (click)="saveContent()"
              class="bg-green-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-green-600 transition duration-200 shadow-lg"
            >
              Save
            </button>

            <button
              *ngIf="isLoggedIn()"
              (click)="toggleEdit()"
              class="bg-red-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-red-600 transition duration-200 shadow-lg"
            >
                {{ cancelEdit }}
            </button>
          </div>

      </div>

      <div *ngIf="currentContent === 'RECREATIONAL'" class="content">
        <h1 class="text-xl md:text-2xl font-bold mb-4">
          <span *ngIf="!isLoggedIn()">Professional Liability Insurance in Quebec...</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Professional Liability Insurance in Quebec...'"></app-back-office>
        </h1>
        <p class="mb-4 text-sm md:text-base">
          <span *ngIf="!isLoggedIn()">Professional liability insurance, also known as errors and omissions (E&O) insurance, helps protect your business if you're sued for negligently performing your services, even if you haven't made a mistake.</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Professional liability insurance, also known as errors and omissions (E&O) insurance, helps protect your business if you re sued for negligently performing your services, even if you haven t made a mistake.'"></app-back-office>
        </p>
        <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-200">Get a quote</button>
        <div class="mt-4 space-y-2">
          <button (click)="toggleAccordion('professionalLiabilityInsuranceDetails')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">What Does Professional Liability Insurance Cover?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('professionalLiabilityInsuranceDetails')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('professionalLiabilityInsuranceDetails')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about what Professional Liability Insurance covers...</p>
          </div>
          <button (click)="toggleAccordion('professionalLiabilityInsuranceCosts')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">Costs & Calculations: How It Works?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('professionalLiabilityInsuranceCosts')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('professionalLiabilityInsuranceCosts')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about the costs and calculations for Professional Liability Insurance...</p>
          </div>
        </div>
      </div>

      <div *ngIf="currentContent === 'HARD'" class="content">
        <h1 class="text-xl md:text-2xl font-bold mb-4">
          <span *ngIf="!isLoggedIn()">Professional Liability Insurance in Quebec...</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Professional Liability Insurance in Quebec...'"></app-back-office>
        </h1>
        <p class="mb-4 text-sm md:text-base">
          <span *ngIf="!isLoggedIn()">Professional liability insurance, also known as errors and omissions (E&O) insurance, helps protect your business if you're sued for negligently performing your services, even if you haven't made a mistake.</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Professional liability insurance, also known as errors and omissions (E&O) insurance, helps protect your business if you re sued for negligently performing your services, even if you haven t made a mistake.'"></app-back-office>
        </p>
        <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-200">Get a quote</button>
        <div class="mt-4 space-y-2">
          <button (click)="toggleAccordion('professionalLiabilityInsuranceDetails')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">What Does Professional Liability Insurance Cover?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('professionalLiabilityInsuranceDetails')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('professionalLiabilityInsuranceDetails')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about what Professional Liability Insurance covers...</p>
          </div>
          <button (click)="toggleAccordion('professionalLiabilityInsuranceCosts')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">Costs & Calculations: How It Works?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('professionalLiabilityInsuranceCosts')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('professionalLiabilityInsuranceCosts')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about the costs and calculations for Professional Liability Insurance...</p>
          </div>
        </div>
      </div>

      <div *ngIf="currentContent === 'HIGH'" class="content">
        <h1 class="text-xl md:text-2xl font-bold mb-4">
          <span *ngIf="!isLoggedIn()">Professional Liability Insurance in Quebec...</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Professional Liability Insurance in Quebec...'"></app-back-office>
        </h1>
        <p class="mb-4 text-sm md:text-base">
          <span *ngIf="!isLoggedIn()">Professional liability insurance, also known as errors and omissions (E&O) insurance, helps protect your business if you're sued for negligently performing your services, even if you haven't made a mistake.</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Professional liability insurance, also known as errors and omissions (E&O) insurance, helps protect your business if you re sued for negligently performing your services, even if you haven t made a mistake.'"></app-back-office>
        </p>
        <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-200">Get a quote</button>
        <div class="mt-4 space-y-2">
          <button (click)="toggleAccordion('professionalLiabilityInsuranceDetails')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">What Does Professional Liability Insurance Cover?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('professionalLiabilityInsuranceDetails')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('professionalLiabilityInsuranceDetails')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about what Professional Liability Insurance covers...</p>
          </div>
          <button (click)="toggleAccordion('professionalLiabilityInsuranceCosts')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">Costs & Calculations: How It Works?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('professionalLiabilityInsuranceCosts')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('professionalLiabilityInsuranceCosts')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about the costs and calculations for Professional Liability Insurance...</p>
          </div>
        </div>
      </div>

      <div *ngIf="currentContent === 'TRAVEL'" class="content">
        <h1 class="text-xl md:text-2xl font-bold mb-4">
          <span *ngIf="!isLoggedIn()">Commercial Property Insurance in Quebec...</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Commercial Property Insurance in Quebec...'"></app-back-office>
        </h1>
        <p class="mb-4 text-sm md:text-base">
          <span *ngIf="!isLoggedIn()">Commercial property insurance helps protect your business' physical assets, including your building, tools, equipment, inventory, furniture, and personal property. It can help cover the costs to repair or replace property damaged by fire, theft, vandalism, and certain weather events.</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Commercial property insurance helps protect your business physical assets, including your building, tools, equipment, inventory, furniture, and personal property. It can help cover the costs to repair or replace property damaged by fire, theft, vandalism, and certain weather events.'"></app-back-office>
        </p>
        <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-200">Get a quote</button>
        <div class="mt-4 space-y-2">
          <button (click)="toggleAccordion('commercialPropertyInsuranceDetails')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">What Does Commercial Property Insurance Cover?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('commercialPropertyInsuranceDetails')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('commercialPropertyInsuranceDetails')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about what Commercial Property Insurance covers...</p>
          </div>
          <button (click)="toggleAccordion('commercialPropertyInsuranceCosts')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">Costs & Calculations: How It Works?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('commercialPropertyInsuranceCosts')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('commercialPropertyInsuranceCosts')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about the costs and calculations for Commercial Property Insurance...</p>
          </div>
        </div>
      </div>

      <div *ngIf="currentContent === 'FAQ'" class="content">
        <h1 class="text-xl md:text-2xl font-bold mb-4">
          <span *ngIf="!isLoggedIn()">Homeowner Commercial Auto Insurance in Quebec...</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Homeowner Commercial Auto Insurance in Quebec...'"></app-back-office>
        </h1>
        <p class="mb-4 text-sm md:text-base">
          <span *ngIf="!isLoggedIn()">Homeowner Commercial auto insurance helps protect your business' vehicles, including cars, trucks, and vans. It can help cover medical expenses and repair costs resulting from accidents, theft, and other incidents involving your business' vehicles.</span>
          <app-back-office *ngIf="isLoggedIn()" [text]="'Homeowner Commercial auto insurance helps protect your business vehicles, including cars, trucks, and vans. It can help cover medical expenses and repair costs resulting from accidents, theft, and other incidents involving your business vehicles.'"></app-back-office>
        </p>
        <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-200">Get a quote</button>
        <div class="mt-4 space-y-2">
          <button (click)="toggleAccordion('commercialAutoInsuranceDetails')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">What Does Commercial Auto Insurance Cover?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('commercialAutoInsuranceDetails')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('commercialAutoInsuranceDetails')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about what Commercial Auto Insurance covers...</p>
          </div>
          <button (click)="toggleAccordion('commercialAutoInsuranceCosts')" class="w-full bg-gray-200 py-2 px-4 rounded flex justify-between items-center hover:bg-gray-300 transition duration-200">
            <span class="text-sm md:text-base">Costs & Calculations: How It Works?</span>
            <svg class="w-4 h-4 transform" [ngClass]="{'rotate-180': isOpen('commercialAutoInsuranceCosts')}" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div *ngIf="isOpen('commercialAutoInsuranceCosts')" class="mt-2 p-4 bg-gray-100 rounded">
            <p>Details about the costs and calculations for Commercial Auto Insurance...</p>
          </div>
        </div>
      </div>
    </div>
</div>
