<section class="pb-[2.7rem]">
  <div class="flex flex-col justify-center max-w-[90%] mt-10 mx-auto text-center">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-1 mx-auto">

      <button class="contact-box">
        Economical 1-800-607-2424
      </button>

      <button class="contact-box">
        INTACT Assurance 1-866-464-2424
      </button>

      <button class="contact-box">
        OPTIMUM Assurance 1-800-361-7653
      </button>

      <button class="contact-box">
        PAFCO 1-877-463-2727
      </button>

      <button class="contact-box">
        PROMUTUEL Assurance 1-877-668-8835
      </button>

      <button class="contact-box">
        RSA Assurance 1-800-319-9993
      </button>

      <button class="contact-box">
        AVIVA 1-866-692-8482
      </button>

      <button class="contact-box">
        Echelon Assurance 1-888-662-0222
      </button>

      <button class="contact-box">
        UNIQUE Assurance 1-800-463-4800
      </button>

      <button class="contact-box">
        Chubb 1-800-532-4822
      </button>

      <button class="contact-box">
        April 1-855-745-1010
      </button>

      <button class="contact-box">
        Northbridge 514-843-1111
      </button>

    </div>
  </div>
</section>
