<section class="bg-lightBlue pb-[2.7rem]">
  <div class="flex flex-col justify-center max-w-[90%] mt-10 mx-auto text-center">
    <h1 class="text-mediumGray text-4xl mt-8 mb-4">
      <span class="text-orange">24/7</span> Emergency Contact Information
    </h1>
    <h6 class="mb-4">
      IN CASE OF EMERGENCY, A 24/7 CLAIMS SERVICE IS AVAILABLE WITH ALL OUR INSURANCE COMPANIES
    </h6>

      <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-1 mx-auto">

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        Economical 1-800-607-2424
      </button>

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        INTACT Assurance 1-866-464-2424
      </button>

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        OPTIMUM Assurance 1-800-361-7653
      </button>



      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        PAFCO 1-877-463-2727
      </button>

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        PROMUTUEL Assurance 1-877-668-8835
      </button>

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        RSA Assurance 1-800-319-9993
      </button>



      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        AVIVA 1-866-692-8482
      </button>

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        Echelon Assurance 1-888-662-0222
      </button>

      <button class="bg-white !mx-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-2xl w-[17rem] h-[3.5rem]">
        UNIQUE Assurance 1-800-463-4800
      </button>

    </div>
  </div>
</section>
