<app-loading *ngIf="isLoading"></app-loading>

<div class="flex flex-col sm:flex-col md:flex-col lg:flex-row w-full justify-around mb-[82px] px-4 sm:px-8 lg:px-16">

  <div class="block w-full text-center sm:text-center sm:w-full md:w-full md:text-center lg:w-1/3 lg:text-left h-1/3 mt-28 -mb-[19px]">
    <img src="assets/ImpactInsurance_Logo4-300x110.png" class="m-auto sm:m-auto md:m-auto lg:m-0"/>

    <h2 class="text-3xl font-medium mt-10 text-blue">
      {{ getTranslation('Get_A_Quote') }}
    </h2>

    <h5 class="text-2xl font-medium mt-6 text-mediumGray">
      <del>{{ getTranslation('NO_HASSLES') }}</del>
    </h5>

    <p class="text-1xl font-medium text-blue">
      {{ getTranslation('Compare_Choose_Save') }}
    </p>

    <p class="text-1xl mt-4 font-medium text-mediumGray">
      {{ getTranslation('All_our_brokers_are_certified_professionals') }}
    </p>
  </div>

  <div class="bg-lightBlue mt-28 p-5 w-full sm:w-full md:w-full lg:w-3/6 rounded-[12px] shadow-2xl -mb-[19px]">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="form-group">
        <label for="name">{{ getTranslation('Name') }}:</label>
        <input type="text" id="name" name="name" class="form-control" ngModel required>
      </div>

      <div class="form-group">
        <label for="email">{{ getTranslation('Email') }}:</label>
        <input type="email" id="email" name="email" class="form-control" ngModel required>
      </div>

      <div class="form-group">
        <label for="subject">{{ getTranslation('Subject') }}:</label>
        <input type="text" id="subject" name="subject" class="form-control" ngModel required>
      </div>

      <div class="form-group">
        <label for="message">{{ getTranslation('Message') }}:</label>
        <textarea id="message" name="message" class="form-control" rows="5" ngModel required style="resize: none;"></textarea>
      </div>

      <button type="submit" class="btn-submit" [disabled]="!contactForm.form.valid">
        {{ getTranslation('Submit') }}
      </button>
    </form>
  </div>

</div>
