.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555454;
  font-weight: bold;
  font-size: 18px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-control:focus {
  border-color: #0883a6;
  outline: none;
}

.btn-submit {
  background-color: #0883a6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:disabled {
  background-color: #4b4f58;
  cursor: not-allowed;
}

.btn-submit:hover:not(:disabled) {
  background-color: #0883a6;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #66bb6a !important; /* Use a material color green */
  color: white !important;
  border-radius: 8px !important; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Add subtle shadow */
}

::ng-deep .mdc-snackbar__label {
  font-size: 16px !important; /* Slightly larger text */
  font-weight: 500; /* Make it a bit bolder */
}

::ng-deep .mdc-snackbar__action {
  font-size: 14px !important; /* Close button font-size */
  color: #ffffff !important; /* Ensure the close button is white */
  padding-left: 10px; /* Space between the text and the button */
}

::ng-deep .mdc-snackbar__action button {
  text-transform: uppercase !important; /* Capitalize 'Close' */
  font-weight: bold !important; /* Make button text bold */
}
