<app-loading *ngIf="isLoading"></app-loading>

<header class="impact-header mt-16 desktop-menu-container">
  <img [routerLink]="['/home']" [src]="img" alt="Impact Logo" class="impact-logo" />

  <div class="impact-hero">
    <img [src]="topImg" alt="Top Image" class="impact-top-image" />
  </div>
</header>

<div class="flex flex-col md:flex-row md:space-x-4 mt-16 mx-3">
  <!-- Desktop Menu for Commercial Insurance -->
  <div
    class="desktop-menu-container w-full mt-4 md:w-1/4 bg-white p-2 shadow-custom mb-4 md:mb-0 rounded-lg sticky-sidebar overflow-y-auto">
    <div class="flex flex-col space-y-1 business-hover">
      <a
        (click)="showContent('general')"
        [class.selected]="selected === 'general'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Commercial_General_Liability') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('property')"
        [class.selected]="selected === 'property'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Commercial_Property_Insurance') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('shop')"
        [class.selected]="selected === 'shop'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Auto_Shop_Insurance') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('administrator')"
        [class.selected]="selected === 'administrator'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Administrator') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('condominium')"
        [class.selected]="selected === 'condominium'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Condominium_Insurance') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('cargo')"
        [class.selected]="selected === 'cargo'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Cargo_Insurance') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('credit')"
        [class.selected]="selected === 'credit'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Credit_Insurance') }}</span>
      </a>
      <hr class="border-gray-300" />

      <a
        (click)="showContent('entertainement')"
        [class.selected]="selected === 'entertainement'"
        class="flex items-center space-x-2 hover:bg-blue-100 p-3 rounded transition-colors duration-300"
      >
        <span class="text-sm md:text-base">{{ getTranslation('Entertainment_Industry') }}</span>
      </a>
    </div>
  </div>

  <!-- Mobile Menu for Commercial Insurance -->
  <div class="mobile-menu-container">
    <button class="menu-toggle" (click)="toggleMenu()">
      {{ getTranslation(selectedLabel) }}
    </button>
    <ul class="mobile-menu" *ngIf="isMenuOpen">
      <li>
        <a
          (click)="showContentMobile('general', 'Commercial_General_Liability')"
          [class.selected]="selected === 'general'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Commercial_General_Liability') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('property', 'Commercial_Property_Insurance')"
          [class.selected]="selected === 'property'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Commercial_Property_Insurance') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('shop', 'Auto_Shop_Insurance')"
          [class.selected]="selected === 'shop'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Auto_Shop_Insurance') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('administrator', 'Administrator')"
          [class.selected]="selected === 'administrator'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Administrator') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('condominium', 'Condominium_Insurance')"
          [class.selected]="selected === 'condominium'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Condominium_Insurance') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('cargo', 'Cargo_Insurance')"
          [class.selected]="selected === 'cargo'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Cargo_Insurance') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('credit', 'Credit_Insurance')"
          [class.selected]="selected === 'credit'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Credit_Insurance') }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="showContentMobile('entertainement', 'Entertainment_Industry')"
          [class.selected]="selected === 'entertainement'"
        >
          <span class="text-sm md:text-base">{{ getTranslation('Entertainment_Industry') }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="w-full mt-4 md:w-3/4 bg-white p-6 md:p-8 shadow-custom mt-mobile">
    <ng-container *ngFor="let iData of individualData; let i = index">
      <div *ngIf="currentContent === iData.subCategory" class="content">
        <ng-container *ngIf="!isEditing">
          <div [innerHTML]="iData.text"></div>
        </ng-container>

        <ng-container *ngIf="isEditing && iData && iData.originalText">
          <editor
            style="margin-top: 50px"
            [(ngModel)]="iData.originalText"
            apiKey="d0x7em9ik6bwtkgldgsn3n4h39p36rw346yxyr6jo9lwwk9o"
            [init]="editorConfig"
          ></editor>
        </ng-container>

        <div class="flex space-x-4 mt-4 justify-end">
          <button
            *ngIf="isLoggedIn() && isEditing"
            (click)="saveContent(iData.subCategory, i)"
            class="bg-green-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-green-600 transition duration-200 shadow-lg"
          >
            Save
          </button>

          <button
            *ngIf="isLoggedIn()"
            (click)="toggleEdit()"
            class="bg-red-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-red-600 transition duration-200 shadow-lg"
          >
            {{ cancelEdit }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
