.editable-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.editable-span {
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word; /* Breaks long words to fit within the container */
}

textarea.editable-textarea {
  font-size: 1em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box; /* Ensure padding doesn't affect dimensions */
  width: 100%; /* Take full width available */
  max-width: 100%; /* Prevent overflow */
  resize: vertical; /* Prevent manual resizing */
  overflow: hidden; /* Hide overflow to avoid scrolling */
  white-space: pre-wrap; /* Wrap text */
}

textarea.editable-textarea:focus {
  outline: none;
  border-color: #007bff;
}
